.widget{ 
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: space-between;
    padding:60px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 50px 10px 40px 1px rgba(201, 201, 201, 0.47);
    background-image:linear-gradient(rgba(214, 205, 234,0.1),rgba(214, 205, 234, 0.4));
    border-radius:40px;
    // width: 20rem;
   

    .up{ 
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        flex-direction:column;

        .title{ 
            font-weight: bold;
            font-size: 14px; 
            color: #565656;
        }
        .counter{ 
            font-weight:lighter;
            font-size:20px; 
            color:  #565656;
            padding:10px;
        }
     
    }
    .down{ 
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
        align-items: center;

        .icon{ 
         font-size: 15px;
         padding:15px;
         border-radius:5rem;
         justify-content: center;
         align-items: center;
         box-shadow: 2px 4px 10px 1px rgba(68, 60, 60, 0.47);
        }
        .link{ 
            padding:30px 30px 0px 30px;
            width:max-content;
            font-size:14px;
            font-weight: bolder;
            color:#565656;
            // border-bottom: 1px solid black;
            margin-left: 1rem;
            align-items: center;
            justify-content:center;
            a{ 
                text-decoration:none;
                color:#565656;
            }
            a:hover {
                color:#477187;
            }
        }
    }

}